* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    #background-video { 
        position: fixed;
        top: 00;
        left: 00;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
}


header {
    background: rgba(0, 0, 0, 0.7); 
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    
}

.logo span {
    color: #b21414;
   
}


nav ul {
    list-style: none;
    display: flex;
   
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #5d0909;
    
}

.cart i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}
.hero  {#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    position: relative;
    z-index: 2; 
}

.hero-content h1 {
    font-size: 50px;
    color: white;
}

.hero-content p {
    margin: 10px 0;
    font-size: 18px;
}

.hero-content button {
    background: #b21414;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.hero-content button:hover {
    background: #5d0909;
}


.featured, .top-products {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5); 
}
h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 25px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    text-align: center;
    width: 250px;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: black;
}

.product p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.product button {
    background: #b21414;
    padding: 8px 15px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 14px;
}

.product button:hover {
    background: #5d0909;
}

.customer-reviews {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
}


.reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.review {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
.review:hover{
    transform: scale(1.05);
    transition:0.3s;
}

.review p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.review h4 {
    font-size: 14px;
    color: #333;
}
footer {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0,0.5);
    color: white;
    font-size: 14px;
}
